/* This is for all the navigation bars in all pages  */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
  /*Uses the google font*/
}

nav {
  display: flex;
  /* Test change*/
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.header nav img {
  display: block;
  max-width: 600px;
  max-height: 353px;
  width: auto;
  height: auto;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/* Hovering functions */
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: darkgoldenrod;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 42px;
}
.text-box hr {
  width: 300px;
  margin: auto;
  height: 0px;
  background-color: #fff;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

/* This is for the phone view */

@media screen and (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: darkgoldenrod;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa-solid {
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  .row {
    flex-direction: column;
  }
}
